<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>My Vault - SecureVault</title>
</head>

<body>
<div class="main-content-area" layout:fragment="content">

    <!-- Vault Header -->
    <div class="mb-6">
        <h1 class="text-3xl font-bold text-gray-900 mb-2">My Vault</h1>
        <p class="text-gray-600">Manage your passwords and secure credentials</p>
    </div>

    <div class="flex justify-end mb-4 space-x-4">

        <div class="relative grow">
            <input type="search"
                   name="query"
                   id="searchInput"
                   class="form-input"
                   placeholder="Search..."
                   hx-get="/vault/table-search"
                   hx-trigger="keyup changed delay:300ms"
                   hx-target="#vault-table-container"
                   hx-swap="outerHTML" style="padding-left: 30px;">
            <button type="button"
                    id="search-icon"
                    class="absolute left-2 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
                <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
        </div>
        <button hx-get="/vault-item/create-modal"
                hx-target="#modal-placeholder"
                hx-swap="innerHTML"
                class="btn-secondary"
        >
            + New Password
        </button>

        <button hx-get="/collections/create-modal"
                hx-target="#modal-placeholder"
                hx-swap="innerHTML"
                class="btn-secondary"
        >
            + New Collection
        </button>


    </div>

    <div class="mb-4" hx-get="/vault/table" hx-trigger="load, refreshVaultTable from:body" hx-swap="outerHTML" hx-target="this">
        <!-- Vault table will be loaded here via HTMX -->
    </div>

</div>
</body>

</html>
